{% extends "base.html" %}

{% block title %}
Iniciar sesión
{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">

            <div class="card bg-dark text-white border-secondary shadow">
                <div class="card-body p-4">

                    <h2 class="text-center mb-4">Iniciar sesión</h2>

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-4">
                            {{ form.as_p }}
                        </div>

                        <button type="submit" class="btn btn-danger w-100">
                            Entrar
                        </button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}